/* Redefinição de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* Estilo geral da página */
  body {
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
  }
  
  
  /* Header */
  header {
    background-color: #415b67;
    color: #fff;
    padding: 10px 7%;
    position: sticky;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img{
    width: 210px;
    height: 85px;
  }
  header nav {
    float: right;
    text-align: right;
    font-size: 0.84rem;
    
  }
  
  header nav a {
    font-family: sans-serif;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    transition: all .45s ease-in-out;
  
  }
   
  header nav .btn-login{
    background: #1f2a2c;
    border-radius:50px ;
    padding: 10px 20px;
    transition: all .45s ease-in-out;
  }
  header nav .btn-login:hover{
    color: #1f2a2c;
    background: #ffffff;
  }
  
  header nav a:hover {
    color: #1f2a2c;
  }
  .container{
    width: 100%;
    height: 95vh;
  }
  
  /* Slider */
  .banner img{
    height: 85vh;
  }
  /* Seções */
  
  section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    
  }
  
  .modal-content{
    margin-top: 5rem !important;
    width: 14rem !important;
    position: absolute;
    margin-left: 59rem;
    padding: 1.2rem;
    border: none;
    box-shadow: 4px 10px 15px #aaaaaa41;
  }
  
  .close{
    color: #1f2a2c;
    font-size: 1.9rem;
    cursor: pointer;
  }
  
  .modal p{
  color: #1f2a2c;
  font-weight: 500;
  }
  
  .modal a{
    text-decoration: none;
    margin: 0.5rem;
    color: #1f2a2c;
  }
  
  .modal-entrar{
    cursor: pointer;
  }
  
  .header a{
    cursor: pointer;
  }
  
  /* Seção Quem Somos */
  
  #quem-somos{
    padding: 20px 7%;
    width: 100%;
    height:80vh;
    background: url(../img/quem\ somos.png) no-repeat right;
    background-attachment: fixed;  
  }
  
  #quem-somos h2{
    padding-left: 30px;
    color: #415b67;
    font-size: 23px;
    margin-top: 3rem;
  }
  
  #quem-somos p {
    padding: 0px 580px 0px 30px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.1rem;
  }
  
  .img-somos img{
    margin-top: -23rem;
    margin-left: 24rem;
  }
  
  /* Seção Serviços */
  #servicos{
    width: 100%;
    height: 90vh;
  }
  #servico{
    background-color: #415b67;
    width: 100%;
    height: 30vh;
    
  }
  #servico h1{
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    font-size: 2.5rem;
  }
  
  .card{
    background-color: #fff;
    width: 300px;
    height: 50vh;
    border-radius: 12px;
    box-shadow: 4px 10px 15px #aaaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .cards{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .card h2{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .card p{
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    padding: 0px 20px 0px 20px;
  }
  
  .card img {
    width: 100px;
    height: 80px;
  }
  
  /* Seção ajuda */
  
  
  #outros-servicos ul {
    list-style: none;
    padding: 0;
  }
  
  #outros-servicos ul li {
    margin-bottom: 10px
  }
  
  .text_main h4{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    background-color: #415b67;
    color: #fff;
    padding: .5rem 1.25rem;
    width: 15rem;
    align-items: center;
    border-radius: .4rem;
  }
  
  .text_main{
    display: flex;
    justify-content: center;
  }
  
  #Ajuda .slide img{
    height: 60vh;
  }
  
  /* Seção Outros Serviços */
  #contato{
    background-color: #d9d9d9;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  
  }
  #contato .left{
    padding-left: 15px;
    width: 40%;
    color: #415b67;
    
  }
  #contato .left h1{
    font-size: 2.5rem;
  }
  #contato .left h3{
    font-size: 1rem;
  }
  #contato .left ul{
    margin-top: 20px;
    list-style: none;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    
    
  }
  #contato .left li{
    font-size: 18px;
    padding-bottom:25px ;
    display: flex;
    flex-direction: row;
  }
  
  #contato .left li img{
    margin-right: 10px;
    width: 27px;
    height: 26px;
  }
  #contato .rigth{
    position: relative;
    padding-right: 15px;
    width: 40%;
    
  }
  #contato .rigth form{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
  }
  
  .rigth .input-box{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #fff;
  
  }
  .rigth .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    color: #415b67;
    pointer-events: none;
    transition: .5s;
  
  }
  
  
  .rigth .input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #f9f9f9;
    padding: 0 8px 0 4px;
  }
  .rigth .input-box input:focus ~ label,
  .rigth .input-box input:valid ~ label {
    top: -5px;
  }
  
  .rigth button{
    margin-left: 70%;
    margin-top: 7%;
    width: 29%;
    height: 39px;
    background-color: #1f2a2c;
    color: #f9f9f9;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 300;
  }
  .rigth button:hover{
    background: #415b67;
  }
  
  
  /* footer */
  footer{
    background-color: #d9d9d9;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .footer{
    padding: 30px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copy{
    color: #1f2a2c;
    text-align: center;
    padding: 10px 0;
    
    height: 10;
  }
  .copy span{
    color: #415b67;
  }
  
  
  
  footer .logofooter{
    width: 230px;
    height: 100px;
    position: relative;
    top: 4rem;
  }
  
  .line{
  background: #ffffff;
  width: 160vw;
  position: absolute;
  left:-2rem;
  margin-top: -7rem;
  height: 0.2rem;
  }
  footer .icon{
    display: flex;
    gap: 20px;
    list-style: none;
    
  }
  footer .icon img{
    width: 35px;
    cursor: pointer;
    transition: all .30s ease-in-out;
  }
  
  footer .icon img:hover{
    transform: scale(1.2);
  }
  
  
  .modal-content{
    margin-top: 5rem !important;
    width: 14rem !important;
    position: absolute;
    margin-left: 59rem;
    padding: 1.2rem;
    border: none;
    box-shadow: 4px 10px 15px #aaaaaa41;
  }

  .btn-user{
    color: #000;  
  }

  .btn-user:hover{
    color: #000;
  }

  .close{
    color: #1f2a2c;
    font-size: 1.9rem;
    cursor: pointer;
  }
  
  .modal p{
  color: #1f2a2c;
  font-weight: 500;
  }
  
  .modal a{
    text-decoration: none;
    margin: 0.5rem;
    color: #1f2a2c;
  }
  
  .modal-entrar{
    cursor: pointer;
  }

  .notificacoes-modal{
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
  }
  
  .notificacoes-modal-content{
    background-color: #fefefe;
    position: absolute;
    top: 4rem;
    margin-left: 50rem;
    padding: 1.2rem;
    border: none;
    box-shadow: 4px 10px 15px #aaaaaa41;
    border-radius: 0.3rem;
    width: 27vw;
    height: 25rem;
  }
  
  .notificacoes-close{
    color: #aaa;
    float: right;
    margin-left: 7rem;
    margin-top: -1rem;
    color: #1f2a2c;
    font-size: 1.9rem;
    cursor: pointer;
  }
  
  .notificacoes-icones{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.3rem;
  }
  
  .notificacoes .fa-refresh{
    color: #415b67;
  }
  
  .notificacoes-hora span{
    color: #aaa;
    font-size: 0.9rem;
  }
  
  .header a{
    cursor: pointer;
  }
  
  /* Estilo para o modal */
.custom-modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
}

/* Estilo para o conteúdo do modal */
.custom-modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 4rem;
  margin-left: 50rem;
  padding: 1.2rem;
  border: none;
  box-shadow: 4px 10px 15px #aaaaaa41;
  border-radius: 0.3rem;
  width: 27vw;
}

/* Estilo para o botão de fechar */
.custom-close {
  color: #aaa;
  float: right;
  margin-left: 7rem;
  margin-top: -1rem;
  color: #1f2a2c;
  font-size: 1.9rem;
  cursor: pointer;
}

.custom-close:hover,
.custom-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.custom-conteudo p{
color: #1f2a2c;
margin-top: 2rem;
}

.custom-modal-content .fa-trash{
color: #415b67;
cursor: pointer;
}

button{
    background: transparent;
    border: none;
}