* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}
.genero{
  display: flex;
  gap:1rem;
  position: relative;
  top: 2rem;
  padding: 1rem;
  margin-right: 2rem;
}
.input_generos input{
  display: flex;
  
  
  }
/* Estilo do botão Salvar */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

input[type="submit"]:active {
  background-color: #004080;
  transform: scale(1.02);
}


button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button[type="submit"]:active {
  background-color: #004080;
  transform: scale(1.02);
}

/* Header */
header {
  background-color: #415b67;
  color: #fff;
  padding: 10px 7%;
  position: sticky;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 210px;
  height: 85px;
}

header nav {
  float: right;
  text-align: right;
  font-size: 0.84rem;
}

header nav a {
  font-family: sans-serif;
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  transition: all .45s ease-in-out;
}

a:hover {
  color: #333;
}

main {
  padding: 1.25rem 4%;
}

.btn-previous {
  background-color: transparent;
  border: none;
}

.control-table thead {
  background-color: #415b67;
  color: #fff;
  font-size: .8rem;
}

.control-table tr {
  font-size: .8rem;
}

.form-input {
  border: 1px solid #415b67;
  border-radius: 5rem;
  padding: .3rem;
}

.form-input input {
  padding: 0 .6rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.form-input .btn-search {
  border: none;
  background-color: transparent;
}

.control-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.control-menu button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
}

h2 {
  color: #415b67;
}

.navbar-brand img {
  margin-right: 10px;
}

.table thead th {
  vertical-align: middle;
}

.table td, .table th {
  vertical-align: middle;
}

.table th {
  text-align: center;
}

.table .btn-primary {
  display: block;
  margin: auto;
}

.container a {
  text-decoration: none;
  color: #415b67;
  font-size: 1.2rem;
}

.input-group {
  margin-top: 2rem;
}

.editar {
  position: relative;
  margin-left: 37rem;
  top: -3rem;
}

.editar a {
  color: #415b67;
}

.color_tabela {
  background: #415b67;
  border: solid 1px #415b67;
}

th {
  color: #fff;
  font-size: 0.9rem;
}

.modal-content {
  width: 100% !important;
  max-height: 600px; /* Ajuste a altura do modal */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo for maior que a altura */
  position: absolute;
  padding: 1.2rem 3.9rem;
  border: none;
  box-shadow: 4px 10px 15px #aaaaaa41;
}

.close {
  color: #1f2a2c;
  font-size: 1.9rem;
  cursor: pointer;
}

.modal button {
  background: #415b67;
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  padding: 0.3rem;
  color: #fff;
  margin-left: 66rem;
}

.modal-entrar {
  cursor: pointer;
}

.form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#modal-content_menu {
  width: 100% !important;
  max-height: 600px; /* Ajuste a altura do modal */
  overflow-y: auto; /* Adiciona rolagem se o conteúdo for maior que a altura */
  position: absolute;
  padding: 1.2rem 3.9rem;
  border: none;
  box-shadow: 4px 10px 15px #aaaaaa41;
}

h3 {
  color: #415b67;
}

#modal .form-group {
  margin-top: 2rem;
}

.form-title {
  margin-bottom: 30px;
}

.progress-container {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.notificacoes-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

.notificacoes-modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 4rem;
  margin-left: 50rem;
  padding: 1.2rem;
  border: none;
  box-shadow: 4px 10px 15px #aaaaaa41;
  border-radius: 0.3rem;
  width: 27vw;
  height: 25rem;
}

.notificacoes-close {
  color: #aaa;
  float: right;
  margin-left: 7rem;
  margin-top: -1rem;
  color: #1f2a2c;
  font-size: 1.9rem;
  cursor: pointer;
}

.notificacoes-icones {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.3rem;
}

.notificacoes .fa-refresh {
  color: #415b67;
}

.notificacoes-hora span {
  color: #aaa;
  font-size: 0.9rem;
}

.unique-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

.unique-modal p {
  color: #1f2a2c;
  font-weight: 500;
}

.unique-modal a {
  text-decoration: none;
  margin: 0.5rem;
  color: #1f2a2c;
}

.unique-modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 4rem;
  margin-left: 50rem;
  padding: 1.2rem;
  border: none;
  box-shadow: 4px 10px 15px #aaaaaa41;
  border-radius: 0.3rem;
  width: 27vw;
  height: 20rem;
}

.unique-conteudo-modal {
  display: flex;
}

/* Estilo para o botão de fechar */
.unique-close {
  color: #aaa;
  float: right;
  margin-left: 7rem;
  margin-top: -1rem;
  color: #1f2a2c;
  font-size: 1.9rem;
  cursor: pointer;
}

.unique-close:hover,
.unique-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
